<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="QuadrantDB"
         providerName="System.Data.SqlClient"
         connectionString="SERVER=BRPC011389\SQL2019;DATABASE=TechnologyQuadrant;UID=sa;PWD=As33Arsenic74922$;Persist Security Info=false;"/>
  </connectionStrings>
  <appSettings>
    <add key="ExcelFilesFolder" value="\Excel"/>
    <add key="ChartImagesFolder" value="\Images"/>
  </appSettings>
</configuration>